%body
  %header.registCard-header
    .registCard-header__container
      %a.registCard-header__link{:href => ""}
        = image_tag 'logo.svg', class: 'regist-header__img'
      .steplist-container
        %ul.steplist-container__steplist
          %li.completed
            %span.bubble
            %p 会員情報
          %li.completed
            %span.bubble
            %p 電話番号認証
          %li.completed
            %span.bubble
            %p お届け先住所入力
          %li.entering
            %span.bubble
            %p 支払い方法
          %li
            %span.bubble
            %p 完了
  %main.registCard-main
    .registCard-container
      .registCard-container__header
        %p 支払い方法
      .registCard-container__form
        .registCard-container__form--text
          %p カード番号
          %p.registCard-container__form__required 必須
          %input{:placeholder => "　半角数字のみ", :type => "number"}/
        = image_tag 'card.png', class: 'registCard-container__form__cardList'
        .registCard-container__form--text
          %p 有効期限
          %p.registCard-container__form__required 必須
          .registCard-container__form--deadline
            %select{:name => "month"}>
              %option{:value => ""} -
              %option{:value => "1"} 01
              %option{:value => "2"} 02
              %option{:value => "3"} 03
              %option{:value => "4"} 04
              %option{:value => "5"} 05
              %option{:value => "6"} 06
              %option{:value => "7"} 07
              %option{:value => "8"} 08
              %option{:value => "9"} 09
              %option{:value => "10"} 10
              %option{:value => "11"} 11
              %option{:value => "12"} 12
            　月
            = succeed "\u{3000}\u{5e74}" do
              %select{:name => "year"}
                %option{:value => ""} -
                %option{:value => "2019"} 19
                %option{:value => "2020"} 20
                %option{:value => "2021"} 21
                %option{:value => "2022"} 22
                %option{:value => "2023"} 23
                %option{:value => "2024"} 24
                %option{:value => "2025"} 25
                %option{:value => "2026"} 26
                %option{:value => "2027"} 27
                %option{:value => "2028"} 28
                %option{:value => "2029"} 29
                %option{:value => "2030"} 30
                %option{:value => "2031"} 31
                %option{:value => "2032"} 32
                %option{:value => "2033"} 33
                %option{:value => "2034"} 34
                %option{:value => "2035"} 35
                %option{:value => "2036"} 36
                %option{:value => "2037"} 37
                %option{:value => "2038"} 38
                %option{:value => "2039"} 39
                %option{:value => "2040"} 40
                %option{:value => "2041"} 41
                %option{:value => "2042"} 42
                %option{:value => "2043"} 43
                %option{:value => "2044"} 44
                %option{:value => "2045"} 45
                %option{:value => "2046"} 46
                %option{:value => "2047"} 47
                %option{:value => "2048"} 48
                %option{:value => "2049"} 49
                %option{:value => "2050"} 50
          .registCard-container__form--text
            %p セキュリティコード
            %p.registCard-container__form__required 必須
            %input{:placeholder => "　カード背面4桁もしくは3桁の番号", :type => "number"}/
          %a.registCard-container__form__about{:href => ""} カード背面の番号とは？
          .registAdress-container__form--submit
            %input{:type => "submit", :value => "次へ進む"}/
      %footer.registCard-footer
        .registCard-footer__rule
          %a{:href => ""} プライバシーポリシー
          %a{:href => ""} メルカリ利用規約
          %a{:href => ""} 特定商取引に関する表記
        .registCard-footer__logo
          %a{:href => ""}
            = image_tag 'logo-gray.svg'
        .registCard-footer__copyRight
          %p © 2019 TeamA