= form_for @user, url: step3_signup_index_path, method: :get, html: {class: 'second-wrapper__box'} do |f|
  = f.text_field :phone_number, placeholder: '例) 携帯電話の番号を入力'
  = f.submit '次へ進む', class: 'register-profile__nextpage'