= render 'layouts/header'

.container
  .container--wrapper

    -# .l-content
    -#   .l-chapter-container
    -#     .l-mypage-logout-inner
    -#       .mypage-logout-content
    -#         = link_to "ログアウト",  destroy_user_session_path, method: :delete, class: "btn-default btn-red text-default__submit"
    -#         .emptybox-mypage-logout
    .container--side
      = render "side-list"
    .user-content
      .user-chapter-container
        .user-mypage-logout-inner
          .mypage-logout-content
            = link_to "ログアウト",  destroy_user_session_path, method: :delete, class: "btn-default btn-red text-default__submit"
            .emptybox-mypage-logout



= render 'layouts/footer'


