%container
  %div
    %section
      %h2 本人情報の登録
      =form_for(current_user) do |f|
        %div
          %p お客さまの本人情報をご登録ください。
          %p 登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
          %p
            = link_to "#" 
              本人確認書類のアップデートについて
                %i.fa.fa-chevron-right
        %div
          %p お名前
          %p ユーザー
        %div
          %p
          %p
        %div
          %p
          %p
        %div
        %div
        %div
        %div
        %div
