.container
  .container__side
    = render "side-list"
  .container__main
    .container__icon
      =image_tag /Users/ishikubofumito/projects/mercari/app/assets/images/www.mercari.com:.jpg,size:"680x180"


      