.container {
    padding: 40px auto 0;
    width: 1020px;
    &__side {
        float: left;
    }
}

.list {
    display: block;
    width: 280px;
    color: black;
    list-style: none;
    padding: 0 40px 0 0;
    &__item {
        border: 1px solid gray;
        position: relative;
        display: block;
        min-height: 16px;
        padding: 16px;
        background: #fff;
        font-size: 14px;
        text-decoration: none;
        color: black;
        line-height: 16px;
    }
    &__item2 {
        padding-top: 20px;
    }
    .fa-chevron-right {
        float: right;
    }
}

.main-container {}