<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="itemDetails.css">
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>
<body>
  <main class="itemDetails-main">
    <div class="itemDetails-container">
      <div class="itemDetails-container__header">
        <p>mulinsen　(　ムーリンセン　) 本革 レース　アップ　シューズ 日本製</p>
      </div>
      <div class="itemDetails-container__main">
        <div class="itemDetails-container__main__left">
          <div class="itemDetails-container__main__left__image">
            <img src="img/sample.jpg" alt="">
          </div>
        </div>
        <div class="itemDetails-container__main__right">
          <div class="itemDetails-container__main__right__table">
            <table>
              <tr class="exhibitor">
                <th>出品者</th><td>さとう</td>
              </tr>
            
              <tr class="category">
                <th>カテゴリー</th><td>19</td>
              </tr>
            
              <tr>
                <th>ブランド</th><td>A型</td>
              </tr>

              <tr>
                <th>商品のサイズ</th><td>さとう</td>
              </tr>
              
              <tr>
                <th>商品の状態</th><td>19</td>
              </tr>
            
              <tr>
                <th>配送料の負担</th><td>A型</td>
              </tr>

              <tr>
                <th>配送の方法</th><td>さとう</td>
              </tr>
              
              <tr>
                <th>配送元地域</th><td>19</td>
              </tr>
            
              <tr>
                <th>発送日の目安</th><td>A型</td>
              </tr>
            
            </table>
          </div>  
        </div>
        <div class="itemDetails-container__main__price">
          <p class="itemDetails-container__main__price--price">¥2,100</p>
          <p class="itemDetails-container__main__price--tax">(税込)</p>
          <p class="itemDetails-container__main__price--postage">送料込み</p>
        </div>
        <div class="itemDetails-container__main__btn">
          <a href="">購入画面に進む</a>
        </div>
        <div class="itemDetails-container__main__explanation">
          <p>  
              ●ざっくりセーターやスエットなどとスニーカーなどの定番はもちろん、今年トレンドのショートブーツやパンプスと合わせフェミニンな装いにも、トレンド感を演出するスカートです♪
              #秋服 #冬服
              
              #ボトムス #スカート #ロング丈 #フレア
              
              #マーメイド 
              
              #ヒョウ柄 #レオパード
              #レトロ #クラシック   #カジュアル #きれいめ
              
              #オルチャンファッション #韓国
          </p>
        </div>
        <div class="itemDetails-container__main__bottom">
          <div class="itemDetails-container__main__bottom--good">
            <a href="">いいね</a>
          </div>
          <div class="itemDetails-container__main__bottom--report">
            <a href="">不適切な商品の報告</a>
          </div>
          <div class="itemDetails-container__main__bottom--effort">
            <a href="">あんしん・あんぜんへの取り組み</a>
          </div>
        </div>
      </div>
    </div>
    <div class="itemDetails-comment-container">
      <div class="itemDetails-comment-container__rule">
        <p>相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。</p>
      </div>
      <div class="itemDetails-comment-container__textarea">
        <textarea></textarea>
      </div>
      <div class="itemDetails-comment-container__btn">
        <a href="">コメントする</a>
      </div>
    </div>
  </main>
</body>
</html>