<div class="advertisement">広告コーナー</div>

<div class="categories">

  <h2 class="categories__title">人気のカテゴリー</h2>

  <div class="categories__body">

    <ul class="categories__body__list">

      <li class="categories__body__list__item">
        <a class="categories__body__list__btn">レディース</a>
      </li>

      <li class="categories__body__list__item">
        <a class="categories__body__list__btn">メンズ</a>
      </li>

      <li class="categories__body__list__item">
        <a class="categories__body__list__btn">家電・スマホ・カメラ</a>
      </li>

      <li class="categories__body__list__item">
        <a class="categories__body__list__btn">おもちゃ・ホビー・グッズ</a>
      </li>

    </ul>

  </div>

</div>
        
<div class="sc-eInJlc dJoKrd">

  <div class="sc-gtfDJT hpvUdP">

    <div name="scroll-1" class="sc-hgHYgh cSmJwt sc-hzNEM kJHZlB">
      <h3 class="style_heading__3qSF6 common_fontFamily__3-3Si style_responsiveLv2__3K0hn sc-chbbiW kHlukY">レディース新着アイテム</h3>
      <a href="/jp/category/1/" class="sc-kxynE eOANOQ">もっと見る</a>
    </div>

    <div class="sc-itybZL bIgBgj">

      <div class="sc-eMigcr ZgKP">
        <div class="sc-fzsDOv eAHBGs">image</div>
        <div class="sc-gPWkxV dVvLBy">price</div>
        <div class="sc-jVODtj hMphjp">
          <div class="style_placeholder__QmojK style_lightgray__2NUtB style_line__1vcbc style_xlarge__dBb6P sc-kUaPvJ jVrRpx">text</div>
        </div>
      </div>

      <div class="sc-eMigcr ZgKP">
        <div class="sc-fzsDOv eAHBGs">image</div>
        <div class="sc-gPWkxV dVvLBy">price</div>
        <div class="sc-jVODtj hMphjp">
          <div class="style_placeholder__QmojK style_lightgray__2NUtB style_line__1vcbc style_xlarge__dBb6P sc-kUaPvJ jVrRpx">text</div>
        </div>
      </div>

      <div class="sc-eMigcr ZgKP">
        <div class="sc-fzsDOv eAHBGs">image</div>
        <div class="sc-gPWkxV dVvLBy">price</div>
        <div class="sc-jVODtj hMphjp">
          <div class="style_placeholder__QmojK style_lightgray__2NUtB style_line__1vcbc style_xlarge__dBb6P sc-kUaPvJ jVrRpx">text</div>
        </div>
      </div>

      <div class="sc-eMigcr ZgKP">
        <div class="sc-fzsDOv eAHBGs">image</div>
        <div class="sc-gPWkxV dVvLBy">price</div>
        <div class="sc-jVODtj hMphjp">
          <div class="style_placeholder__QmojK style_lightgray__2NUtB style_line__1vcbc style_xlarge__dBb6P sc-kUaPvJ jVrRpx">text</div>
        </div>
      </div>

      <div class="sc-eMigcr ZgKP">
        <div class="sc-fzsDOv eAHBGs">image</div>
        <div class="sc-gPWkxV dVvLBy">price</div>
        <div class="sc-jVODtj hMphjp">
          <div class="style_placeholder__QmojK style_lightgray__2NUtB style_line__1vcbc style_xlarge__dBb6P sc-kUaPvJ jVrRpx">text</div>
        </div>
      </div>

      <div class="sc-eMigcr ZgKP">
        <div class="sc-fzsDOv eAHBGs">image</div>
        <div class="sc-gPWkxV dVvLBy">price</div>
        <div class="sc-jVODtj hMphjp">
          <div class="style_placeholder__QmojK style_lightgray__2NUtB style_line__1vcbc style_xlarge__dBb6P sc-kUaPvJ jVrRpx">text</div>
        </div>
      </div>

      <div class="sc-eMigcr ZgKP">
        <div class="sc-fzsDOv eAHBGs">image</div>
        <div class="sc-gPWkxV dVvLBy">price</div>
        <div class="sc-jVODtj hMphjp">
          <div class="style_placeholder__QmojK style_lightgray__2NUtB style_line__1vcbc style_xlarge__dBb6P sc-kUaPvJ jVrRpx">text</div>
        </div>
      </div>

      <div class="sc-eMigcr ZgKP">
        <div class="sc-fzsDOv eAHBGs">image</div>
        <div class="sc-gPWkxV dVvLBy">price</div>
        <div class="sc-jVODtj hMphjp">
          <div class="style_placeholder__QmojK style_lightgray__2NUtB style_line__1vcbc style_xlarge__dBb6P sc-kUaPvJ jVrRpx">text</div>
        </div>
      </div>

      <div class="sc-eMigcr ZgKP">
        <div class="sc-fzsDOv eAHBGs">image</div>
        <div class="sc-gPWkxV dVvLBy">price</div>
        <div class="sc-jVODtj hMphjp">
          <div class="style_placeholder__QmojK style_lightgray__2NUtB style_line__1vcbc style_xlarge__dBb6P sc-kUaPvJ jVrRpx">text</div>
        </div>
      </div>

      <div class="sc-eMigcr ZgKP">
        <div class="sc-fzsDOv eAHBGs">image</div>
        <div class="sc-gPWkxV dVvLBy">price</div>
        <div class="sc-jVODtj hMphjp">
          <div class="style_placeholder__QmojK style_lightgray__2NUtB style_line__1vcbc style_xlarge__dBb6P sc-kUaPvJ jVrRpx">text</div>
        </div>
      </div>


    </div>

  </div>

</div>