.advertisement {
  width: 100%;
  height: 350px;
  line-height: 300px;
  background-color: lightsteelblue;
  box-sizing: border-box;
  text-align: left;
  &__smartphoneImage {
    top: 0px;
    right: 0px;
    height: 350px;
    float: right;
  }
  &__textbox {
    position: relative;
    width: 860px;
    margin: 0px auto;
    padding: 20px 40px;
    height: 100%;
    &__upper {
      height: 140px;
      font-size: 50px;
      font-weight: 600;
      line-height: 1.4;
      margin-bottom: 16px;
    }
    &__lower {
      height: 62px;
      font-size: 18px;
      line-height: 1.8;
      margin-bottom: 24px;
    }
    &__icons {
      height: 100px;
      font-size: 18px;
      line-height: 1.8;
      margin-bottom: 24px;
    }
  }
}

.textbox__upper {
}

  // .sc-dliRfk.lnMXqm
  // %img.sc-iqzUVk.jAEZMX{alt: "", src: "https://web-jp-assets.mercdn.net/_next/static/images/top-banner-main-device-1f627e51e488f6ca35feaa6a08b79736.png"}
  // .sc-kLIISr.fqOIIb
  //   .sc-qrIAp.PkUrY
  //     .sc-jtggT.bqsQJl
  //       スマホでかんたん
  //       %br
  //       フリマアプリ
  //     %p.sc-ebFjAB.SGfox
  //       メルカリはスマホカメラからすぐに出品できる
  //       %br
  //       購入時も安心な独自システムのアプリです
  //     .sc-iGrrsa.heyozC
  //       %a{href: "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", rel: "noopener noreferrer", target: "_blank"}
  //         %img.sc-ipZHIp.sc-bmyXtO.gxiFBJ{alt: "", src: "https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg"}
  //       %a{href: "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", rel: "noopener noreferrer", target: "_blank"}
  //         %img.sc-ipZHIp.sc-dEoRIm.jcELSQ{alt: "", src: "https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg"}
