.signup-header {
  background-color: #F5F5F5;
  height: 15vh;
  position: relative;
}

.signup-header__link {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  height: 35%;
}

.signup-header__img {
  height: 100%;
  width: 100%;
}

.login-main {
  background-color: #F5F5F5;
  height: 80vh;
}

.login-container {
  background-color: #FFF;
  height: 75vh;
  width: 30%;
  margin: 0 auto;
}

.login-container__header {
  height: 15vh;
  border-bottom: solid 1px #F5F5F5;
  margin-bottom: 20px;
}

.login-container__header p {
  text-align: center;
  line-height: 10vh;
  font-size: 12px;
  height: 7vh;
}

.login-container__header__btn {
  height: 5vh;
  width: 20vw;
  background-color: #0099e8;
  margin: 0 auto;
}

.login-container__header__btn a {
  text-decoration: none;
}

.login-container__header__btn p {
  color: #fff;
  font-size: 15px;
  line-height: 5vh;
}

.login-container__buttons {
  display: flex;
  flex-direction: column;
}

.login-container__buttons a {
  display: block;
  text-decoration: none;
  line-height: 5vh;
  height: 100%;
  width: 100%;
}

.login-container__buttons p {
  float: right;
  color: #fff;
}

.buttons__facebook {
  position: relative;
  height: 5vh;
  width: 20vw;
  background-color:#385185;
  margin: 10px auto;
}

.fa-facebook-square {
  color: #fff;
  float: left;
  height: 50%;
  position: absolute;
  top: 45%;
  left: 10%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
}

.buttons__facebook p {
  margin-right: 5vw;
}


.buttons__google {
  position: relative;
  height: 5vh;
  width: 20vw;
  border: solid 0.5px #808000;
  margin: 0 auto;
}

.buttons__google p {
  color: black;
  margin-right: 6vw;
}

.buttons__google--logo {
  float: left;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 10%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
}

.signup-footer {
  height: calc(100vh - 15vh - 65vh);
  background-color: #F5F5F5;
}

.signup-footer__rule {
  display: flex;
  justify-content: center;
}

.signup-footer__rule a {
  text-decoration: none;
  color: black;
  font-size: 12px;
  margin-right: 15px;
}

.signup-footer__logo {
  height: 60%;
  display: flex;
  align-items: flex-end;
}

.signup-footer__logo a {
  color: #fff;
  height: 60%;
  margin: 0 auto;
}

.signup-footer__logo img {
  height: 100%;
}

.signup-footer__copyRight {
  text-align: center;
  font-size: 12px;
}

.login-form{
  text-align: center;
}

.field__mail{
  padding-top: 20px;
}

.field__mail__box{
  border: solid 0.5px #50504d;
}

.field__password{
  padding-top: 20px;
}

.field__password__box{
  border: solid 0.5px #50504d;
}

.actions__button{
  padding-top: 20px;

}
.actions__button__font{
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  border-radius: 5px;
}