<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="style.css">
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>





<body>

    <div class="top__page">
        <div class="top__page__header">

            <div class="top__page__header__top">
                <div class="top__page__header__top__logo">
                  <a class="merukari__logo" href="/">
                  <img src="merukari_logo.svg" alt="メルカリロゴ" title="メルカリロゴ" class="example1">
                  </a>
                </div>
                <div class="top__page__header__top__form">
                    <form action="/" method="post">
                      <input type="text" name="search" placeholder="何かお探しですか？" class="box">
                    </form>
                </div>
              </div>


          <div class="top__page__header__under">
              <div class="top__page__header__under__category">
                  　<i class="fas fa-list">カテゴリーから探す</i>
              </div>
            <div class="top__page__header__under__brand">
                <i class="fas fa-tag">ブランドから探す</i>
            </div>
            <div class="top__page__header__under__evaluation">
                <i class="far fa-heart">いいね一覧</i>
       　　 </div>
     　　　  <div class="top__page__header__under__notice">
        <i class="fas fa-bell">お知らせ</i>

            </div>
            <div class="top__page__header__under__todo">
                <i class="fas fa-check">やることリスト</i>
            </div>           
          　 <div class="top__page__header__under__mypage">
              <i class="fa fa-user-circle-o" aria-hidden="true"></i>

              <i class="fas fa-user">マイページ</i>
          　 </div>


      </div>
    </div>
  </div>
</div>



</body>







</html>