!!!
%html{:lang => "ja"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "ie=edge", "http-equiv" => "X-UA-Compatible"}/
    %title Document
    %link{:href => "reset.css", :rel => "stylesheet"}/
    %link{:href => "mercari_footer.css", :rel => "stylesheet"}/
    %link{:href => "https://use.fontawesome.com/releases/v5.6.1/css/all.css", :rel => "stylesheet"}/
  %body
    %aside.bottomAside
      .bottomAside--info
        %p.up スマホでかんたんフリマアプリ
        %p.down 今すぐ無料ダウンロード！
        .icon-container
          %img.mercariLogo{:alt => "mercariLogo", :src => "img/mercari_icon-f75780e32e41e052c8aaa8b446331cd8.png"}/
          %a.appleBtn{:href => ""}
            %img{:alt => "AppStore", :src => "img/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg"}/
          %a.googleBtn{:href => ""}
            %img{:alt => "GooglePlay", :src => "img/google-play-495575abb895b405aa6336b2a4304958.svg"}/
      %img.smartIcon{:alt => "", :src => "img/download_app_pc-a4418175e8be071827ac88d073f40e4a.png"}/
    %footer
      %nav.footerNav
        .footerNav__about
          %p メルカリについて
          %a{:href => ""} 会社概要 (運営会社)
          %a{:href => ""} 採用情報
          %a{:href => ""} プレスリリース
          %a{:href => ""} 公式ブログ
          %a{:href => ""} メルカリロゴ利用ガイドライン
          %a.footerNav__about--twitter{:href => ""}
            %i.fab.fa-twitter.fa-3x
          %a.footerNav__about--facebook{:href => ""}
            %i.fab.fa-facebook-square.fa-3x
        .footerNav__help
          %p ヘルプ＆ガイド
          %a{:href => ""} メルカリガイド
          %a{:href => ""} らくらくメルカリ便
          %a{:href => ""} ゆうゆうメルカリ便
          %a{:href => ""} 大型メルカリ便
          %a{:href => ""} 車体取引ガイド
          %a{:href => ""} メルカリあんしん・あんぜん宣言！
          %a{:href => ""} 偽ブランド品撲滅への取り組み
          %a{:href => ""} メルカリボックス
        .footerNav__privacy
          %p プライバシーと利用規約
          .footerNav__privacyFrame
            .footerNav__privacyFrame--left
              %a{:href => ""} プライバシーポリシー
              %a{:href => ""} メルカリ利用規約
              %a{:href => ""} あんしんスマホサポート制度に関する利用特約
              %a{:href => ""} コンプライアンスポリシー
            .footerNav__privacyFrame--right
              %a{:href => ""} 個人データの安全管理に係る基本方針
              %a{:href => ""} 特定商取引に関する表記
              %a{:href => ""} 資金決済法に基づく表示
              %a{:href => ""} 法令順序と犯罪防止のため
        .footerNav__country
          %p 国
          %a{:href => ""} 日本
          %a{:href => ""} United States
      .footer__mercari
        %a.mercariLink{:href => ""}
          %img{:alt => "mercari", :src => "img/logo-white-1a0696cf557ee1ed6f3c3444661d21ad.svg"}/
        %p.copyright © 2019 teamA
