<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="mercari_footer.css">
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>
<body>
  <aside class="bottomAside">
    <div class="bottomAside--info">
      <p class="up"">スマホでかんたんフリマアプリ</p>
      <p class="down">今すぐ無料ダウンロード！</p>
      <div class="icon-container">
        <img class="mercariLogo" src="img/mercari_icon-f75780e32e41e052c8aaa8b446331cd8.png" alt="mercariLogo">
        <a class="appleBtn" href=""><img src="img/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg" alt="AppStore"></a>
        <a class="googleBtn" href=""><img src="img/google-play-495575abb895b405aa6336b2a4304958.svg" alt="GooglePlay"></a>
      </div>
    </div>
    <img class="smartIcon" src="img/download_app_pc-a4418175e8be071827ac88d073f40e4a.png" alt="">
  </aside>
  <footer>
    <nav class="footerNav">
      <div class="footerNav__about" >
        <p>メルカリについて</p>
        <a href="">会社概要 (運営会社)</a>
        <a href="">採用情報</a>
        <a href="">プレスリリース</a>
        <a href="">公式ブログ</a>
        <a href="">メルカリロゴ利用ガイドライン</a>
        <a class="footerNav__about--twitter" href=""><i class="fab fa-twitter fa-3x"></i></a>
        <a class="footerNav__about--facebook" href=""><i class="fab fa-facebook-square fa-3x"></i></a>
      </div>
      <div class="footerNav__help" >
        <p>ヘルプ＆ガイド</p>
        <a href="">メルカリガイド</a>
        <a href="">らくらくメルカリ便</a>
        <a href="">ゆうゆうメルカリ便</a>
        <a href="">大型メルカリ便</a>
        <a href="">車体取引ガイド</a>
        <a href="">メルカリあんしん・あんぜん宣言！</a>
        <a href="">偽ブランド品撲滅への取り組み</a>
        <a href="">メルカリボックス</a>
      </div>
      <div class="footerNav__privacy" >
        <p>プライバシーと利用規約</p>
        <div class="footerNav__privacyFrame">
          <div class="footerNav__privacyFrame--left">
            <a href="">プライバシーポリシー</a>
            <a href="">メルカリ利用規約</a>
            <a href="">あんしんスマホサポート制度に関する利用特約</a>
            <a href="">コンプライアンスポリシー</a>
          </div>
          <div class="footerNav__privacyFrame--right">
            <a href="">個人データの安全管理に係る基本方針</a>
            <a href="">特定商取引に関する表記</a>
            <a href="">資金決済法に基づく表示</a>
            <a href="">法令順序と犯罪防止のため</a>
          </div>
        </div>
      </div>
      <div class="footerNav__country" >
        <p>国</p>
        <a href="">日本</a>
        <a href="">United States</a>
      </div>
    </nav>
    <div class="footer__mercari">
      <a class="mercariLink" href=""><img src="img/logo-white-1a0696cf557ee1ed6f3c3444661d21ad.svg" alt="mercari"></a>
      <p class="copyright">© 2019 teamA</p>
    </div>
  </footer>
</body>
</html>