<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/Users/taishusawaki/projects/freemarket_sample_56a/app/assets/stylesheets/reset.css">
  <link rel="stylesheet" href="/Users/taishusawaki/projects/freemarket_sample_56a/app/assets/stylesheets/signup.css">
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>
<body>
  <header class="signup-header">
    <a href="" class="signup-header__link">
      <img class="signup-header__img" src="/Users/taishusawaki/projects/freemarket_sample_56a/app/assets/images/logo.svg" alt="" >
    </a>
  </header>
  <main class="signup-main">
    <div class="signup-container">
      <div class="signup-container__header">
        <p>新規会員登録</p>
      </div>
      <div class="signup-container__buttons">
        <div class="buttons__email">
          <a class="buttons__email--link" href="">
            <i class="far fa-envelope fa-lg"></i>
            <p>メールアドレスで登録する</p>
          </a>
        </div>
        <div class="buttons__facebook">
          <a class="buttons__facebook--facebook" href="">
            <i class="fab fa-facebook-square fa-2x"></i>
            <p>Facebookで登録する</p>
          </a>
        </div>
        <!-- facebookログインで使うかも -->
        <!-- <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v4.0"></script>
        <div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-auto-logout-link="false" data-use-continue-as="false"></div> -->
        <div class="buttons__google">
          <img class="buttons__google--logo" src="/Users/taishusawaki/projects/freemarket_sample_56a/app/assets/images/g-logo.png" alt="">
          <a class="buttons__email--mail" href="">
            <p>Googleで登録する</p>
          </a>
        </div>
      </div>
    </div>
  </main>
  <footer class="signup-footer">
    <div class="signup-footer__rule">
      <a href="">プライバシーポリシー</a>
      <a href="">メルカリ利用規約</a>
      <a href="">特定商取引に関する表記</a>
    </div>
    <div class="signup-footer__logo">
      <a href=""><img src="/Users/taishusawaki/projects/freemarket_sample_56a/app/assets/images/logo-gray.svg" alt=""></a>
    </div>
    <div class="signup-footer__copyRight">
      <p>© 2019 TeamA</p>
    </div>
  </footer>
</body>
</html>